sphinx==7.2.6
sphinx-rtd-theme==2.0.0rc3
configparser==6.0.0
numpy==1.26.1
scipy==1.11.3
matplotlib==3.8.0
numpydoc
nbsphinx
ipykernel==6.26.0
docutils==0.20.1
sphinx-paramlinks==0.6.0
sphinxcontrib-bibtex==2.6.1
control~=0.9.2
pandas==2.1.2
openpyxl~=3.1.2
sympy~=1.12
sphinx-rtd-dark-mode